<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <!-- Corpo do email enviado -->
  <body>
    <p>Olá <%= @user.name %>,</p>
    <p>
      A sua chave para alterar a senha é:
    </p>
    <%= @user.password_reset_key %>
  </body>
</html>
